# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Config / sensitive files
*.env
instance/

# Logs & temporary files
*.log
*.csv
*.db
uploads/
*.sqlite3

# System files
.DS_Store
Thumbs.db

# Ignore user data but keep folder structure
data/*
known_faces/*
attendance_data/*
uploads/*

# Allow the folders themselves
!data/.gitkeep
!known_faces/.gitkeep
!attendance_data/.gitkeep
!uploads/.gitkeep
